.fondo{
    background-image: url('../ImagenesSpa/fondo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

p, li{
    font-family: 'Times New Roman', Times, serif;
}