.logos{
    width: 100px;
    height: 50px;
}

.lista{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.5;
    border-bottom: none;
    list-style: none;
}